* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logoImg {
  width: 95px;
  max-height: 50px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
}
.logoContainer {
  display: flex;
  justify-content: center;
}
.logoInputContainer {
  position: absolute;
  left: 145px;
  display: flex;
}
.navInput {
  height: 42px;
}
#search {
  width: 300px;
}
#region {
  width: 290px;
}
.searchButtonLoopa {
  height: 42px;
  width: 42px;
  border-radius: 0px, 8px, 8px, 0px;
  background-color: #f65858;
  border: none;
}
