.text500 {
  font-weight: 500;
}

.text600 {
  font-weight: 600;
}

.text700 {
  font-weight: 700;
}

.text800 {
  font-weight: 800;
}

.text900 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
  max-width: 1510px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* ======================================= START OF NAV ========================================== */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 11px;
  position: static;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchContainer .searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchContainer #searchInput {
  width: 20vw;
  border-right: none;
  outline: none;
  padding: 12px 5px 12px 37px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  font-size: 1.6rem;
}
.searchContainer #searchCityInput {
  width: 20vw;
  border-right: none;
  outline: none;
  padding: 12px 20px;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-right: none;
  font-size: 1.6rem;
}
.searchContainer .searchLabel {
  position: relative;
}
.searchContainer #searchIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}
.searchContainer .searchBtn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #f65858;
}

.rightNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
}
.rightNavContainer .switchLangBtn {
  background-color: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
}
.rightNavContainer a {
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
}
.rightNavContainer .signUpBtn {
  background-color: #00798a;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1.4rem;
}

/* ======================================= END OF NAV ============================================= */

/* ================================================== MAIN STYLES START===========================================*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.firstPartOfMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 100px;
  gap: 50px;
}
/* ========================================================================= */
.rightSideOfFirstPartOfMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  word-break: keep-all;
  max-width: 500px;
}
/* ========================================================================= */

.joinMeetupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 40px;
  background-color: #00798a;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px;
}
.joinMeetupButton:hover {
  background-color: #01606d;
}

.eventsOfMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftSideOfEventsOfMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.rightSideOfEventsOfMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 55vw;
}
.eventsNear {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 150px;
  gap: 25px;
  width: 1200px;
}
.seeAllEvents {
  margin-top: 150px;
  color: #00798a;
  font-weight: 500;
}
.mountainViewCA {
  background-color: #97cad114;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  color: #00798a;
}
.eventsPart {
  margin-top: 30px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}
.divOfActiv {
  display: flex;
  align-items: start;
  flex-direction: column;
  word-break: break-word;
  max-width: 275px;
  gap: 20px;
  margin-bottom: 36px;
  max-height: 70%;
}
.classOfEvent {
  opacity: 0.5;
}
.parametersOfEvents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.divOfActiv p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.onlineEvents {
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 85%;
}
.heading2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130%;
  gap: 730%;
  width: 50%;
}
.siteLeft {
  width: 20%;
  margin: 20px;
}

.siteRight {
  color: #00798a;
  margin: 10px;
}

/* ========================================= END OF CARD STYLES =============================== */
/* ========================================= START OF SECOND PART STYLES OF DIV =============================== */

.joinMeetupDiv {
  border-radius: 10px;
  background-color: #97cad114;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
  flex-direction: row;
  width: 78%;
  margin-top: 70px;
  padding: 1% 3%;
}
.joinMeetupDiv div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.joinMeetupDiv div button {
  background-color: #e32359;
  border: none;
  border-radius: 10px;
  width: 20%;
  height: 40px;
  cursor: pointer;
  color: white;
}
.joinMeetupDiv div button:hover {
  background-color: #b50c3c;
}
.exploreTopCategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 112px;
  width: 135px;
  background-color: #97cad114;
  margin-bottom: 4%;
  border-radius: 8px;
}
.category p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h3Explore {
  margin-top: 64px;
  margin-right: 65%;
  margin-bottom: 20px;
}
/* ========================================= END OF SECOND PART STYLES OF DIV =============================== */
/* ========================================= START OF THIRD PART STYLES OF DIV =============================== */
.mainContainerOfThirdPartOfMain {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  flex-direction: column;
}
.containerOfPopularCities {
  display: flex;
  gap: 41px;
  justify-content: center;
  align-items: center;
}
.containerOfTextContentOfPopularCities {
  gap: 16px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-right: 60%;
}
.divOfPopularCities {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.divOfPopularCities p {
  font-weight: 600;
  font-size: 15px;
}
/* ========================================= END OF THIRD PART STYLES OF DIV =============================== */
/* ========================================= START OF how To Meet Up Works STYLES OF DIV =============================== */
.howToMeetUpWorks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.howToMeetUpDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97cad114;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  height: 10rem;
}
.textContentOfHowToMeetUpWorks {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 1200px;
  margin-top: 64px;
}
.containerOfHowToMeetUpDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
.textContentOfHowToMeetUpDiv {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 480px;
  max-height: 180px;
  gap: 10px;
}

.howToMeetUpDiv p {
  font-weight: 500;
}
.paragrafOfhowToMeetUpDiv {
  color: #00798a;
}
/* ========================================= END OF how To Meet Up Works STYLES OF DIV =============================== */
/* ========================================= START OF Frienships STYLES OF DIV =============================== */

.friendShips {
  margin-top: 64px;
  width: 80%;
}
.imgOfFriendShipsPart {
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.readMore {
  color: #00798a;
  font-weight: 500;
}
/* ========================================= END OF Frienships STYLES OF DIV =============================== */
/* ========================================= END OF MAIN ==================================================== */
/* ========================================= START OF ADAPTIV OF MAIN ========================================== */

/* ========================================= END OF ADAPTIV OF MAIN ========================================== */
/* ================ START OF FOOTER ==================== */
footer {
  background-color: #212121;
  padding: 35px 195px;
  margin-top: 40px;
}

.footerInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #707070;
}
.footerInfoContainer h4 {
  font-size: 1.6rem;
  color: #ffffff;
}
.footerInfoContainer button {
  border-radius: 6px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 25px 10px 14px;
}

.footerLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 24px;
}
.footerLinksContainer div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 7px;
}
.footerLinksContainer div h4 {
  font-size: 1.6rem;
  color: #f6f7f8;
}
.footerLinksContainer div a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #c5c4c4;
}

.followsLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
}
.followsLinks .followContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.followsLinks .followContainer h4 {
  font-size: 1.6rem;
  color: #f6f7f8;
}
.followsLinks .socialPagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 24px;
  gap: 35px;
}
.followsLinks .downloadsStoresContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.footerAdditionInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.footerAdditionInfoContainer p {
  font-size: 1.4rem;
  color: #ffffff;
}
.footerAdditionInfoContainer a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #c5c4c4;
}

/* ================ END OF FOOTER ==================== */
